---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.leafbyte-overview {
    .page__content ul {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        font-size: 21px;
        margin-bottom: 30px;
        padding-bottom: 27px;
        padding-top: 30px;
    }

    .archive__item-teaser img {
        max-height: 400px;
        width: auto;
    }
}

.leafbyte-faqs {
    h5 {
        font-size: 1.15em;
    }
}
